:root {
  --background: #2d3142;
  --background__header: #afb1fe;
  --background-list: #e6e6fa;
  --background-card: #faebd7;
  --borders: #cb8589;

  --font-size: 1.5rem;

  font-family: "Roboto", sans-serif;
}
