@use "./core/reset";
@use "./core/variables";

.page main {
  margin: 1rem;
  font-size: var(--font-size);

  @media (width > 780px) {
    max-width: 40rem;
    margin-inline: auto;
  }
}

.main__page {
  min-height: 100vh;
  background-color: var(--background);
  padding: 2rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  padding: 1em;
  background-color: var(--background__header);
  margin-bottom: 3em;
}

.header__title {
  font-weight: 600;
  font-size: 40px;
  width: 100vw;
  text-align: center;
  color: white;
}

.main {
  padding-left: 3em;
  padding-right: 3em;
}

.filter {
  margin-bottom: 5em;
}

.filter__input {
  background-color: white;
  color: black;
  padding: 0.025rem;
  margin-block: 0.5rem;
  font-size: 20px;
  font-weight: 500;
  width: 30ch;
  border: solid 3px var(--borders);
  border-radius: 15px;
  padding: 0.5rem;
}

.container__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.header__subtitle01 {
  grid-column: 1/1;
  color: white;
  text-align: center;
}

.header__subtitle02 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  text-align: center;
}

.allUsers {
  grid-column: 1/1;
  grid-row: 1/2;
}

.userFavorites {
  grid-column: 2/3;
  grid-row: 2/3;
}

.lilacmode {
  max-width: 900px;
  background-color: var(--background-list);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.lilacmode .card {
  width: 20rem;
  background-color: var(--background-card);
  border: solid 2px var(--borders);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.photo__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.list__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-inline: auto;
  margin-block: 2rem;

  list-style: none;
}
